@model GameEngine.TicTacToe



<html>
<head>
    @*<link href="reset.css" rel="stylesheet" />*@
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
</head>
<body>



    <h1>Tic Tac Toe</h1>

    <div id="board" class="gameBox">

        @for (int i = 0; i < Model.GameBoard.Fields.Count; i++)
        {
            if (i != 2 && i != 5)
            {
                <a href="/TicTacToe/Game?fieldId=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]);"></a>
            }

            else
            {
                <a href="/TicTacToe/Game?fieldId=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]"></a><br />
            }
        }


    </div>
    <div class="bar">
        <h3>

            @Model.ActivePlayer.Name 's turn

        </h3>
    </div>
    <a id="play" href="/TicTacToe/Game">Refresh</a>

    <h2>@Model.Result</h2>
    <div class="resultBox">
        <table id="scoreBox">
            <thead>Score</thead>
            <tr>
                <td>@Model.Players[0].Name</td>
                <td>
                    @for (int i = 0; i < Model.Players.Count; i++)
                    {
                        if (i == 1)
                        {
                            @Model.Players[i].Name
                        }
                    }
                </td>



                <td>Ties</td>
            </tr>
            <tr>
                <td id="Player1">@Model.Players[0].Wins</td>
                <td id="Player2">
                    @for (int i = 0; i < Model.Players.Count; i++)
                    {
                        if (i == 1)
                        {
                            @Model.Players[i].Wins
                        }
                    }
                </td>
                <td id="Ties">0</td>
            </tr>
        </table>


    </div>







</body>
</html>