@model GameEngine.TicTacToe



<html>
<head>
    @*<link href="reset.css" rel="stylesheet" />*@
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="refresh" content="2; url=/TicTacToe/Game" />
</head>
<body>



    <h1>Tic Tac Toe</h1>

    <div id="board" class="gameBox">

        @for (int i = 0; i < Model.GameBoard.Fields.Count; i++)
        {
            if (i != 2 && i != 5)
            {
                <a href="/TicTacToe/Game?fieldID=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]);"></a>
            }

            else
            {
                <a href="/TicTacToe/Game?fieldID=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]"></a><br />
            }
        }


    </div>
    <div class="bar">
        <h3>
            <br />
            @Model.ActivePlayer.Name 's turn
        </h3>
        <h3 id="displayName">@Model.GameInformation.DisplayName</h3>
    </div>

    <div class="resultBox">
        <table id="scoreBox">
            <h2 id="score">Score</h2>
            <tr>
                <td>@Model.Players[0].Name</td>



                @if (Model.Players.Count > 1)
                {
                    <td>  @Model.Players[1].Name</td>
                }
                else
                {
                    <td>waiting for player..</td>
                }


                <td>Draws</td>
            </tr>
            <tr>
                <td id="Player1">@Model.Players[0].Wins</td>
                @if (Model.Players.Count > 1)
                {
                    <td id="Player2">
                        @Model.Players[1].Wins
                    </td>
                }
                else
                {
                    <td></td>
                }

                <td id="Ties">@Model.GameInformation.Draws</td>
            </tr>
        </table>


    </div>


</body>
</html>