@model GameEngine.TicTacToe



<html>
<head>
    @*<link href="reset.css" rel="stylesheet" />*@
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    


    <h1>Tic Tac Toe</h1>

    <div id="board" class="gameBox">

        @for (int i = 0; i < Model.GameBoard.Fields.Count; i++)
        {
            if (i != 2 && i != 5)
            {
                <a href="/TicTacToe/Game?fieldId=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]);"></a>
            }

            else
            {
                <a href="/TicTacToe/Game?fieldId=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]"></a><br />
            }
        }


    </div>
    <div class="bar">
        <h3>

            @Model.ActivePlayer.Name 's turn

        </h3>
    </div>
    <a id="play" href="/TicTacToe/Game">Refresh</a>

    
    <div class="resultBox">
        <table id="scoreBox">
            <thead>Score</thead>
            <tr>
                <td>@Model.Players[0].Name</td>
               


                    @if (Model.Players.Count > 1)
                    {
                      <td>  @Model.Players[1].Name</td>
                    }
                    else
                    {
                        <td>waiting for player..</td>
                    }


                <td>Ties</td>
            </tr>
            <tr>
                <td id="Player1">@Model.Players[0].Wins</td>
                    @if (Model.Players.Count > 1)
                    {
                    <td id="Player2">
                        @Model.Players[1].Wins
                        </td>
                    }
                    else
                    {
                        <td>0</td>
                    }

<td id="Ties">0</td>
            </tr>
        </table>


    </div>





</body>
</html>