@model GameEngine.TicTacToe

<html>
<head>
    @*<link href="reset.css" rel="stylesheet" />*@
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="refresh" content="2; url=/TicTacToe/Game" />
</head>
<body>



    <h1>Tic Tac Toe</h1>

    <p id="displayName">@Model.GameInformation.DisplayName</p>

    <div class="gameDiv">


        @for (int i = 0; i < Model.GameBoard.Fields.Count; i++)
        {
            if (i != 2 && i != 5)
            {
                <a href="/TicTacToe/Game?fieldID=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]);"></a>
            }

            else
            {
                <a href="/TicTacToe/Game?fieldID=@i" style="background-image:url(/Content/@Model.GameBoard.Fields[i]"></a><br />
            }
        }

    </div>
    <h3 id="turn">
         @Model.ActivePlayer.Name 's turn
    </h3>
    <div class="resultDiv">




        <table id="scoreTable">
            <tr><th colspan="3">Score</th></tr>
            <td>@Model.Players[0].Name</td>



            @if (Model.Players.Count > 1)
            {
                <td>  @Model.Players[1].Name</td>
            }
            else
            {
                <td>waiting for player..</td>
            }


            <td>Draws</td>

            <tr>
                <td id="Player1">@Model.Players[0].Wins</td>
                @if (Model.Players.Count > 1)
                {
                    <td id="Player2">
                        @Model.Players[1].Wins
                    </td>
                }
                else
                {
                    <td></td>
                }

                <td id="Ties">@Model.GameInformation.Draws</td>
            </tr>
        </table>


    </div>


</body>
</html>