
@{
    
    ViewBag.Title = "Tic Tac Toe";

}

<h1>Tic Tac Toe</h1>
<h2>@Html.ActionLink("Create your own game", "ClientInformation", "TicTacToe")</h2><p style="font-weight: bold">or join an existing game below!</p>


<div class="gameBox" id="room1">
            <p>Michael</p>
            <button class="joinbutton">@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</button>
</div>
<div class="gameBox" id="room2">
            <p>Ilja</p>
            <button class="joinbutton">@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</button>
</div>
<div class="gameBox" id="room3">
            <p>Jakob</p>
            <button class="joinbutton">@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</button>
</div>
<div class="gameBox" id="room4">
            <p>Putin</p>
            <button class="joinbutton">@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</button>
</div>
<div class="gameBox" id="room5">
            <p>Marinel</p>
            <button class="joinbutton">@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</button>
</div>




