
@{
    
    ViewBag.Title = "Tic Tac Toe";

}

<h1>Tic Tac Toe</h1>
<h2>@Html.ActionLink("Create your own game", "ClientInformation", "TicTacToe")</h2><p style="font-weight: bold">or join an existing game below!</p>


<div class="gameBox"><p>@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</p></div>
<div class="gameBox"><p>@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</p></div>
<div class="gameBox"><p>@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</p></div>
<div class="gameBox"><p>@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</p></div>
<div class="gameBox"><p>@Html.ActionLink("Join Game", "ClientInformation", "TicTacToe")</p></div>




